.nav-bar{
    padding: 24px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options-about{
    display: flex;
    align-items: center;
    gap: 40px;
}

.item-option{
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    color: #20252A;
}

.options-contact{
    display: flex;
    align-items: center;
    gap: 30px;
}

.box-buttons{
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero{
    padding: 40px;
    background: url('../../assets/hero/background-hero.svg');
    background-size: cover;
}

.hero-content{
    display: flex;
    gap: 24px;
    align-items: start;
    flex-direction: column;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 320px;
}

.hero-text h1{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 56px;
    max-width: 501px;
}

.hero-text h2{
    font-size:1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 28px;
    max-width: 488px;
    color: #FFFFFF;
}

/* Section fees */

.fees{
    display: flex;
    align-items: center;
    padding: 106px 162px 106px 264px;
    justify-content: space-between;
}

.fees-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.fees-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fees-text .title{
    font-size: 2.5rem;
    line-height: 48px;
    font-weight: 700;
    max-width: 338px;
}

.fees-text strong{
    color: #00A868;
}

.fees-text .subtext{
    max-width: 314px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 26px;
}

/* Section little-machine*/

.little-machine{
    display: flex;
    align-items: center;
    padding: 56px 162px 56px 146px;
    justify-content: space-between;
    gap: 40px;
}

.little-machine-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text h2{
    font-size: 1.125rem;
    font-weight: 700;
    color: #00734D;
    line-height: 26px;
}

.text h1{
    font-size: 2rem;
    font-weight: 700;
    max-width: 390px;
    line-height: 40px;
}


.text h3{
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 26px;
    max-width: 473px;
}

.little-machine-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.link-option{
    display: flex;
    gap: 13px;
    align-items: center;
    font-size: 1.125rem;
    color: #00A868;
    font-weight: 600;
    text-decoration: none;
    line-height: 26px;
}

.used-machine{
    display: flex;
    align-items: center;
    padding: 56px 162px;
    justify-content: space-between;
    gap: 42px;
}

.used-machine-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.content-apps{
    display: flex;
    align-items: center;
    gap: 20px;
}

.lets-go{
    background: #EFF4F8;
    padding: 80px 253px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.lets-go-text{
    max-width: 774px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.lets-go-text strong{
    color: #00A868;
}

.lets-go-buttons{
    display: flex;
    align-items: center;
    gap: 16px;
}